/*account list*/
img {
    width: 150px;
}

li {
    list-style: none;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 3vw;
}

ul {
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}

/*account list end*/

/*account content*/
/*icons*/

.account-icons {
    width: 50px;
}

#bowl {
    display: grid;
    flex-direction: column;
    gap: 1rem;
}

#settings-list1,
#settings-list2 {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-left: 25vw;
}

#dark {
    margin-left: 2.15vw;
}

.account-icons {
    margin-left: 2vw;
}



/*icons end*/
h2 {
    text-align: center;
}

/*account content end*/