/*account list*/
img {
    width: 150px;
}

li {
    list-style: none;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 3vw;
}

ul {
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}

/*account list end*/

/*account content*/
/*icons*/
.account-icons {
    width: 50px;
}

.settings-list {
    display: flex;
}


/*icons end*/
h2 {
    text-align: center;
}

/*account content end*/