/* grid for whole page */
.home-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
}

/* hero img */
.home-hero {
  background-color: black;
  position: relative;
  text-align: left;
  color: white;
  overflow: hidden;
  height: 100%;
  max-height: 35vw;
}
#hero-image {
  width: 70vw;
  color: white;
  overflow: hidden;
  margin-top: -45vh;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}
.fade-out {
  opacity: 0;
}

/*image text*/
#movie-details-home{
  position: absolute; /*to have the text on top*/
  z-index: 1001;
  top: 20%;
  left: 75%;
}
/*movie hero title*/
h3{
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 5px;
}

#genre-text{
  font-weight: 200;
}

#read-more-button-home{
  margin-top: 14vh;
  width: 8rem;
}
/*image text ect*/

/* recommended movies */
.home-movies {
  background-color: var(--off-white);
  padding-bottom: 3rem;
}

.home-movies-title {
  color: var(--dark-green);
  font-weight: bold;
  font-size: 2rem;
  margin-left: 4rem;
  margin-bottom: 3rem;
}

.home-movies-container {
  display: flex;
  gap: 2.5rem;
  justify-content: center;
}

/* recommended articles */
.home-articles {
  background-color: var(--light-green);
  padding-bottom: 3rem;
}

.home-articles-title {
  color: black;
  font-weight: bold;
  font-size: 2rem;
  margin-left: 4rem;
}

.home-articles-container {
  display: flex;
  gap: 1.3rem;
  justify-content: center;
}
