/* grid for whole page */
.home-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
}

/* hero img */
.home-hero {
  background-color: black;
  position: relative;
  text-align: left;
  color: white;
  overflow: hidden;
  width: 100%;
  height: 40rem;
}
#hero-image {
  width: 80vw;/**/
  height: auto;
  color: white;
  overflow: hidden;
  margin-top: -25rem;
  opacity: 1;
  transition: opacity 2s ease-in-out;
  mask-image: linear-gradient(to right, black -10%, transparent 90%);
  /* sourse for image gradient
  https://www.youtube.com/watch?v=Ca8L8iqnmdw */
}
.fade-out {
  opacity: 0;
}

/*image text*/
#movie-details-home {
  position: absolute; /*to have the text on top*/
  z-index: 1001;
  top: 20%;
  left: 75%;
  color: var(--off-white);
}
/*movie hero title*/
h2 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 5px;
}

#genre-text {
  font-weight: 200;
  margin-top: 0.5rem;
  margin-left: 0.3rem;
}

#read-more-button-home {
  margin-top: 7vh;
  width: 8rem;
}

.hero-rating {
  display: flex;
}

/*image text ect*/

/* recommended movies */
.home-movies {
  background-color: var(--off-white);
  padding-bottom: 3rem;
}
body.dark-mode .home-movies{
  background-color: var(--green-dm);
}

.movie-box-home {
  justify-self: center;
  width: 15rem;
  margin-top: 1rem;
}
.number-of-reviews-home {
  font-size: 1rem;
  color: var(--brown);
  margin-left: 6rem;
  margin-top: 0.4rem;
  margin-bottom: 0;
}
body.dark-mode .number-of-reviews-home {
  color: var(--off-white-dm);
}

.home-movies-title {
  color: var(--dark-green);
  font-weight: bold;
  font-size: 2rem;
  margin-left: 4rem;
  margin-bottom: 3rem;
}
body.dark-mode .home-movies-title, 
body.dark-mode .home-articles-title{
  color: var(--off-white-dm);
}
.home-movies-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-rows: auto;
  gap: 2.5rem;
  justify-items: center;  
}

/* recommended articles */
.home-articles {
  background-color: var(--light-green);
  padding-bottom: 3rem;
}
body.dark-mode .home-articles{
  background-color: var(--dark-green-dm);
}

.home-articles-title {
  color: black;
  font-weight: bold;
  font-size: 2rem;
  margin-left: 4rem;
}
body.dark-mode .home-movies-title, 
body.dark-mode .home-articles-title{
  color: var(--off-white-dm);
}

.home-articles-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: auto;
  gap: 1.3rem;
  justify-items: center;
}

@media only screen and (max-width: 1440px){
  .home-movies-container {
    grid-template-columns: auto auto auto;
    gap: .5rem;
  }
  .home-hero {
    height: 40rem;
  }
  #hero-image {
    margin-top: -30rem;
  }
  #movie-details-home {
    left: 70%;
  }
  .movie-box-home{
    width: 17rem;
  }
  .number-of-reviews-home{
    margin-left: 8rem;
  }
}

@media only screen and (max-width: 1300px){
  .home-articles-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;
  }
}

@media only screen and (max-width: 1200px){
  #hero-image {
    width: 55rem;
    margin-top: -13rem;
  }
  h2{
    font-size: 2.2rem;
  }
  #read-more-button-home {
    margin-top: 6rem;
  }
  .home-hero {
    height: 35rem;
  }
}

@media only screen and (max-width: 1000px){
  .home-movies-container {
    grid-template-columns: auto auto;
  }
  .movie-box-home{
    width: 18rem;
    margin-bottom: 1rem;
  }
  #movie-details-home {
    left: 68%;
  }
  .home-hero {
    height: 30rem;
  }
  #hero-image {
    width: 75%;
    margin-top: -10rem;
    margin-left: -4rem;
  }
  #read-more-button-home {
    margin-top: 4rem;
  }
  .home-articles-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
  }
  .number-of-reviews-home{
    margin-left: 9rem;
  }
}

@media only screen and (max-width: 750px){
  .home-movies-container {
    grid-template-columns: auto;
  }
  .movie-box-home{
    width: 24rem;
  }
  .number-of-reviews-home{
    margin-left: 15rem;
  }
  .home-articles-container {
    display: grid;
    grid-template-columns: 1fr ;
    grid-auto-rows: auto;
  } 

  /*switching from the right o the left(to allow for title expansion)*/
  #movie-details-home{
    top: 12%;
    left: 10%;
    width: 100%;
  }
  #hero-image{
    margin-top: -5rem;
    margin-left: 25%;
    mask-image: linear-gradient(to left, black -5%, transparent 95%);
  }
  .home-hero{
    height: 25rem;
  }
  
  #genre-text{
    font-size: .65rem;
  }
  #read-more-button-home{
    margin-top: 2rem;
    width: 6rem;
  }
  h2{
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 540px){
  h2{
    font-size: 1.4rem;
  }
  #genre-text{
    font-size: .8rem;
  }
  .home-hero{
    height: 18rem;
  }
  #read-more-button-home {
    width: 7rem;
    margin-top: 1.5rem;
  }
  .home-movies-title,.home-articles-title{
    margin-left: 3rem;
  }
}
@media only screen and (max-width: 480px){
  .home-movies-title,.home-articles-title{
    width: 80%;
    text-align: center;
  }
  .movie-box-home{
    width: 20rem;
  }
  .number-of-reviews-home{
    margin-left: 11rem;
  }
}
@media only screen and (max-width: 400px){
  .movie-box-home{
    width: 18rem;
  }
  .number-of-reviews-home{
    margin-left: 9rem;
  }
}
@media only screen and (max-width: 380px){
  .home-movies-title,.home-articles-title{
    margin-left: 2.2rem;
  }
}


