body {
  background-color: var(--off-white);
}

body.dark-mode {
  background-color: var(--dark-green-dm);
}

main{
  min-height: 27rem;
}
#email {
  margin-left: 4rem;
  margin-top: 1rem;
  background-color: var(--off-white);
}

#password {
  margin-left: 2.2rem;
  margin-top: 1.2rem;
  margin-bottom: 0;
  background-color: var(--off-white);
}


#email,
#password {
  width: 18rem;
  border: 2px solid var(--darker-green);
  border-radius: 0.2rem;
}

body.dark-mode #email, 
body.dark-mode #password{
  background-color: var(--off-white-dm); 
  border-color: var(--off-white-dm);/*maybe, maybe not*/
}

.log-in-text {
  color: var(--off-white);
}

.sign-yellow {
  color: var(--yellow);
  text-decoration: none;
}

.sign-yellow:hover {
  text-decoration: underline;
}

.signup-text {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--off-white);
  margin-left: 6.8rem;
}

.log-in-box {
  background-color: var(--dark-green);
  width: 26rem;
  height: auto;
  padding: 1rem;
  padding-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
  border-radius: 0.5rem;
  border: 4px solid var(--darker-green);
}

body.dark-mode .log-in-box {
  background-color: var(--green-dm);
  border-color: var(--green-dm);
}

.red-login {
  background-color: var(--red);
  color: var(--off-white);
  box-shadow: none;
  border: 2px solid var(--dark-red);
  border-radius: 0.5rem;
  width: 5rem;
  height: 2rem;
  margin-left: 20rem;
  margin-top: 1.3rem;
  font-size: 0.9rem;
}

/*footer*/
html,
body {
  height: 100%;
  margin: 0;
}

.footer-container {
  bottom: 0;
  width: 100%;
  padding-bottom: 1rem;
  margin-top: 7rem;
}
footer {
  background-color: transparent;
  padding: 0;
}

.footer-line {
  height: 3px;
  width: 9rem;
  margin: auto;
  border-radius: 0.5rem;
  margin-top: 0;
  margin-bottom: 0;
}

@media only screen and (max-width: 500px){
.log-in-box{
  width: 22rem;
}
.signup-text{
  margin-left: 6rem;
  margin-top: -1rem;
}
.white-account-text{
  font-size: .78rem;
}
.sign-yellow{
  font-size: .9rem;
}
#email,
#password {
  width: 20rem;
  height: 1.2rem;
  margin-left: 0;
  margin-top: .1rem;
  margin-bottom: 1rem;
}

.red-login{
  width: 6rem;
  height: 2.4rem;
  margin-left: 15rem;
  font-size: 1rem;
}
.sign-in-flex{
  margin-top: .1rem;
  margin-left: .5rem;
}
.sign-in-flex1{
  margin-top: .7rem;
  margin-left: .5rem;
}
}
@media only screen and (max-width: 410px){
.log-in-box{
  width: 20rem;
}

.signup-text{
  margin-left: 3.8rem;
}
#email,
#password {
  width: 18rem;
}
.red-login{
  width: 7rem;
  height: 2.5rem;
  margin-left: 12rem;
  font-size: 1.1rem;
}

}
@media only screen and (max-width: 380px){
  .log-in-box{
    width: 17rem;
  }
  .signup-text{
    margin-left: 1rem;
  }
  #email,
  #password {
    width: 15rem;
  }

  .red-login{
    margin-left: 9rem;
  }
}