/* variables*/
:root {
  --red: #da4a49;
  --light-green: #dee195;
  --yellow: #f8af3a;
  --dark-green: #4f867e;
  --darker-green: #2e6960;
  --off-white: #fbf1cd;
  --light-brown: #bc7d57;
  --brown: #624330;
  --dark-red: #953635;
}

/* Header (links/buttons and logo */
html {
  font-family: "Kumbh Sans";
}

header {
  background-color: var(--red);
  height: 5rem;
}

nav a {
  color: var(--off-white);
  text-decoration: none;
}

.nav-space {
  display: flex;
  justify-content: space-between;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: flex-end;
}

nav li {
  margin-right: 3rem;
  margin-top: 1rem;
}

.account-icon {
  width: 3vh;
  height: auto;
}

.cinema-logo {
  width: 190px;
  height: auto;
  margin-top: 8px;
  margin-left: 1rem;
}

body {
  margin: 0;
}

/* Title for pages */
h1 {
  text-align: center;
}

.top-of-page {
  height: 7rem;
  background-color: var(--light-green);
  margin-bottom: 3rem;
  margin-top: 0;
}

.top-of-page-title {
  text-align: center;
  margin-top: 0;
  padding-top: 2rem;
  font-size: 2.4rem;
  color: var(--dark-green);
}

/* Footer */

.footer-titles {
  margin-bottom: 0;
}

.footer-line {
  width: 5rem;
}
