/* variables*/
:root {
  --red: #da4a49;
  --light-green: #dee195;
  --yellow: #f8af3a;
  --dark-green: #4f867e;
  --darker-green: #2e6960;
  --off-white: #fbf1cd;
  --brown: #624330;
  --dark-red: #953635;
}
:root {
  --off-white-dm: #e1d7b6;
  --red-dm: #4e161c;
  --green-dm: #1e4741;
  --dark-green-dm: #103535;
}

/* Header (links/buttons and logo */
html {
  font-family: "Kumbh Sans";
}
main {
  min-width: 20rem;
  height: calc(fit-content+5rem);
}

header {
  background-color: var(--red);
  height: 5rem;
  width: 100%;
}

body.dark-mode header {
  background-color: var(--red-dm);
  color: var(--off-white-dm);
}

nav a {
  color: var(--off-white);
  text-decoration: none;
}

.nav-space {
  display: flex;
  justify-content: space-between;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: flex-end;
}

.header-list {
  margin-right: 4rem;
  margin-top: 1rem;
  width: 2.5rem;
}

#header-watchlist {
  width: 5rem;
}

#header-login {
  margin-right: 2rem;
}

.header-text:hover {
  font-weight: 600;
}

.icon {
  width: 2.8rem;
  width: 2.8rem;
  margin-top: 0.2rem;
  margin-right: 1rem;
  margin-left: -1rem;
}
/*search icon*/
#icon {
  position: relative;
  z-index: 1060;
  margin-left: 0.5rem;
  margin-right: 1.8rem;
}

.icon,
.search-header {
  align-items: center;
}

.cinema-logo {
  width: 190px;
  height: auto;
  margin-top: 8px;
  margin-left: 1rem;
  font-family: none;
}
body.dark-mode .cinema-logo {
  content: url(../icons/cinema-logo-dm.png);
}

body {
  margin: 0;
}

/* Title for pages */
h1 {
  text-align: center;
}

.top-of-page {
  height: 7rem;
  background-color: var(--light-green);
  margin-bottom: 3rem;
  margin-top: 0;
}
body.dark-mode .top-of-page {
  background-color: var(--green-dm);
}
.top-of-page-title {
  text-align: center;
  margin-top: 0;
  padding-top: 2rem;
  font-size: 2.4rem;
  color: var(--dark-green);
}
body.dark-mode .top-of-page-title {
  color: var(--off-white-dm);
}

/* Footer */
footer {
  background-color: var(--red);
  padding-bottom: 1rem;
}
body.dark-mode footer {
  background-color: var(--red-dm);
  color: var(--off-white-dm);
}

.footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.footer-titles {
  text-align: center;
  margin-bottom: 0;
  padding-top: 0rem;
  font-size: 1.5rem;
}

.footer-links {
  text-align: center;
  padding-left: 0;
  font-size: 1.1rem;
  margin-top: 1rem;
}
#footer-link2,
#footer-link3,
#footer-link4 {
  margin-top: 1rem;
}

.footer-section {
  display: flex;
  flex-direction: column;
  color: var(--off-white);
}

.footer-section a {
  color: var(--off-white);
}

.footer-section a:hover {
  color: var(--off-white);
  text-decoration: none;
}

.contact-us-info {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 0;
  font-size: 1.1rem;
}

.footer-line {
  height: 3px;
  width: 9rem;
  background-color: var(--off-white);
  margin: auto;
  border-radius: 0.5rem;
  margin-top: 0;
  margin-bottom: 0;
}

.social-media-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 1rem;
}

.instagram-logo,
.facebook-logo,
.x-logo {
  width: 40px;
  height: auto;
  margin-top: 1.1rem;
  margin-left: 1.6rem;
}

/* responcive things */
/* menue  */
#drop-down-icon {
  display: none; /* hide it for default, large screens */
  width: 2rem;
  margin-top: 2rem;
  position: relative;
  z-index: 2070;
}

.dropdown-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-ul-menu {
  width: 23vw;
  background-color: var(--red);
  padding: 1rem;
  border-radius: 0.5rem;
  z-index: 1002;
  display: flex;
  flex-direction: column;
  transition: opacity 0.3s ease;
  position: absolute;
  top: 100%;
  left: 50%;
  z-index: 2000;
  transform: translateX(-50%);
}
body.dark-mode .header-ul-menu {
  background-color: var(--red-dm);
}

.menu-container {
  position: relative;
}
.header-list-menu {
  margin: 0.5rem 0;
  text-align: center;
  font-size: 1.2rem;
}
/* menue  */
@media only screen and (max-width: 1200px) {
  .header-list {
    margin-right: 3rem;
  }
}

@media only screen and (max-width: 980px) {
  .cinema-logo {
    width: 185px;
    margin-top: 0.8rem;
    margin-left: 0.5rem;
  }
  header {
    min-height: 4rem;
    height: auto;
  }
  .header-list {
    margin-right: 2rem;
  }

  .icon {
    margin: 0.2rem;
    position: relative;
  }
  #icon {
    margin-right: 1rem;
  }
}

@media only screen and (max-width: 800px) {
  .icon {
    width: 3rem;
    margin-right: -0.5rem;
  }
  /*makes original header disapere*/
  .header-list {
    display: none;
  }
  #drop-down-icon {
    display: block;
    transition: transform 0.5s ease;
    transform-origin: center;
  }

  #drop-down-icon.active {
    transform: rotate(180deg);
  }

  /*footer*/
  .instagram-logo,
  .facebook-logo,
  .x-logo {
    width: 30px;
    margin-top: 1rem;
  }
}

@media only screen and (max-width: 700px) {
  .footer-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 2rem;
  }
  .instagram-logo,
  .facebook-logo,
  .x-logo {
    width: 40px;
    margin-bottom: 5vw;
  }
}
@media only screen and (max-width: 500px) {
  .cinema-logo {
    width: 200px;
  }
  .dropdown-wrapper {
    margin-top: 3.5rem;
    margin-right: 1vw;
    margin-left: 0;
  }
  #icon {
    margin-bottom: 2.29rem;
  }
  .icon {
    margin-top: 0.1rem;
    width: 3.5rem;
    margin-left: 1rem;
  }

  .menu-container {
    margin-top: -1.3rem;
  }
  .header-ul-menu {
    width: 29vw;
  }
}
@media only screen and (max-width: 450px) {
  .cinema-logo {
    width: 170px;
  }
  .dropdown-wrapper {
    margin-top: 4rem;
    align-content: center;
  }
  header {
    height: 8.5rem;
  }
}

@media only screen and (max-width: 410px) {
  .cinema-logo {
    width: 140px;
  }
  .header-ul-menu {
    width: 40vw;
  }
  .dropdown-wrapper {
    margin-top: 2.5rem;
    margin-right: 1vw;
    margin-left: -2rem;
  }
  header {
    height: 6.5rem;
  }
  #icon {
    margin-right: 1rem;
  }
  .icon {
    margin-top: 0;
    width: 2.9rem;
    margin-left: -2.5rem;
  }
  .header-ul-menu {
    width: 45vw;
  }
}
