.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 2rem;
}

.movie-box {
  background-color: #cc9393;
}

.posters {
  width: 100%;
}

.movie-name {
  margin-top: 0;
  margin-left: 0.5rem;
}

.movie-main {
  margin-left: 10%;
  margin-right: 10%;
}
