/* grid for movies */
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 2rem;
}

.movie-box {
  justify-self: center;
  width: 15rem;
}

.posters {
  width: 100%;
}

.movie-name {
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  padding-right: 3rem;
  font-weight: bold;
}

.movie-sides {
  margin-left: 5%;
  margin-right: 5%;
}

.movie-body {
  background-color: var(--off-white);
}

.movie-stars {
  margin-left: 0.5rem;
  display: flex;
  gap: 0.1rem;
}

.stars {
  width: 1.2rem;
}

.numberOfReviews {
  font-size: 1rem;
  color: var(--brown);
  margin-left: 6rem;
}

/* will be moved to main.css */
.top-of-page {
  height: 7rem;
  background-color: var(--light-green);
  margin-bottom: 3rem;
  margin-top: 0;
}

.top-of-page-title {
  text-align: center;
  margin-top: 0;
  padding-top: 2rem;
  font-size: 2.4rem;
  color: var(--dark-green);
}
