/* General Search Bar Styles */
.search-wrapper-home {
  display: flex;
  flex-direction: row;
  align-items: center; /* Vertically centers items */
  position: absolute;
  top: 1rem;
  margin-left: 30%;
}

.input-search {
  font-size: .8rem;
  width: 25rem; 
  background-color: var(--light-green) !important;
  border: 2px solid transparent;  
  border-radius: 1rem;
  outline: none; 
  height: 2rem; 
  color: var(--dark-green);
}

#search-img {
  vertical-align: middle;
  margin-top: -.2rem;
  margin-right: .5rem;
}
.search-img, .input-search{
  align-items: center;
}
/* Search Results */
.search-show-home {
  align-items: center;
  background-color: var(--red);
  width: 23.5rem;
  margin-left: 3.1rem;
  margin-top: -0.6rem;
  padding-top: 0.7rem;
  padding-bottom: 1rem;
}

.title-content-home {
  width: 85%;
  padding: 1rem;
  margin-left: 1rem;
}

.search-result-home {
  color: var(--off-white);
  text-decoration: none !important;
  padding: 1rem;
  max-width: 30vw;
  margin-top: 5px;
  padding: 0;
}

/* Header Search Styles */
.search-wrapper-combined{
  width: 14rem;
  padding: 1rem;
  border-radius: 1rem;
  margin: 0;
  margin-top: -.3rem;
  background-color: var(--red);
  grid-template-columns: repeat(auto-fill, minmax(35vw, 1fr)); /* Flexible grid layout */
  position: relative;
  z-index: 1040;
  
}
#flex-search{
  display: flex;
  gap: 0.5rem;
}

.input-search-header {
  height: 2rem;
  line-height: normal;
  margin-right: -0.5rem;
  margin-left: 1rem;
  padding: 0 0.5rem;
  background-color: var(--light-green) !important;
  color: var(--dark-green);
  font-size: 1rem;
  border: .4rem solid transparent;
  border-radius: 1rem;
  outline: none;
  box-sizing: border-box;
  vertical-align: middle;
  position: relative
}
/* When the search bar is visible */
.search-wrapper-header .active .search-container-header {
  display: block; /* Make it visible when active */
}
/* Search Results contaner*/
.search-show-header {
  margin-top: 0.5rem;
  margin-left: 1.1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(35vw, 1fr)); /* Flexible grid layout */
  position: relative;
  z-index: 1050;
}
/*search results*/
.search-result-header {
  color: var(--off-white);
  padding: 0.5rem 0;
}

.title-content-header{
  width: 12rem;
  margin-left: -0.3rem;
  padding: 1.2rem;
}
/*search results-------*/


/* Visibility Controls */
.hide {
  display: none !important;
}

[data-show-container] {
  display: none;
}

[data-show-container].active {
  display: block;
}
/* Visibility Controls end */

@media only screen and (max-width: 1100px){
  .search-wrapper-home {
    display: none;
    position: absolute;  
  }
  .search-wrapper-combined {
    background-color: var(--red);
    padding: 1.3rem;
    padding-right: 3rem;
    padding-left: 1rem;
    position: absolute;
    width: 14rem;
    left: 73.8vw;
    top: 4.5rem;
    z-index: 1050;
  }

  .input-search-header {
    width: 100%;
    margin-top: 0; /* override previous absolute if needed */
    position: relative;
  }

  .search-show-header {
    position: relative;
    margin-top: 1rem;
    max-width: 100%;
    grid-template-columns: 1fr;
  }
}
@media only screen and (max-width: 1080px){
  .search-wrapper-combined{
    left: 73.2vw;
  }
}
@media only screen and (max-width: 1050px){
  .search-wrapper-combined{
    left: 72.5vw;
  }
}
@media only screen and (max-width: 1000px){
  .search-wrapper-combined{
    left: 71.2vw;
  }
}
@media only screen and (max-width: 950px){
  .search-wrapper-combined{
    left: 69.7vw;
  }
}
@media only screen and (max-width: 900px){
  .search-wrapper-combined{
    left: 68vw;
  }
  .title-content-header{
    max-width: 85%;
  }
}
@media only screen and (max-width: 850px){
  .search-wrapper-combined{
    left: 66.1vw;
  }
}
@media only screen and (max-width: 800px){
  .search-wrapper-combined{
    width: 12rem;
    left: 68vw;
    top: 5rem;
  }
}
@media only screen and (max-width: 750px){
  .search-wrapper-combined{
    left: 65.8vw;
  }
}
@media only screen and (max-width: 700px){
  .search-wrapper-combined{
    left: 63.4vw;
  }
}
@media only screen and (max-width: 650px){
  .search-wrapper-combined{
    left: 60.6vw;
  }
}
@media only screen and (max-width: 600px){
  .search-wrapper-combined{
    left: 57.3vw;
  }
}
@media only screen and (max-width: 550px){
  .search-wrapper-combined{
    left: 53.3vw;
  }
}
@media only screen and (max-width: 500px){
  .search-wrapper-combined{
    left: 48.7vw;
    top: 7.6rem;
  }
}
@media only screen and (max-width: 450px){
  .search-wrapper-combined{
    left: 43vw;
    top: 7.9rem;
  }
}
@media only screen and (max-width: 400px){
  .search-wrapper-combined{
    width: 84%;
    left: 0;
    top: 6rem;
  }
}