body {
  background-color: var(--off-white);
}
main{
    min-height: 19.5rem;
}
#email {
  margin-left: 8.1rem;
  margin-top: 1rem;
  background-color: var(--off-white);
}

#password {
  margin-left: 6.3rem;
  margin-top: 1.2rem;
  margin-bottom: 0;
  background-color: var(--off-white);
}

#name1 {
  margin-top: 1.2rem;
  margin-left: 7.9rem;
  background-color: var(--off-white);
}

#username {
  margin-top: 1.2rem;
  margin-left: 5.9rem;
  background-color: var(--off-white);
}

#re-enter-password {
  margin-top: 1.2rem;
  margin-left: 1.75rem;
  background-color: var(--off-white);
}

.re-enter-move-group {
  display: flex;
  align-items: center;
}

#email,
#password,
#name1,
#username,
#re-enter-password {
  width: 18rem;
  border-radius: 0.2rem;
  border: 2px solid var(--darker-green);
}

.sign-in-text {
  color: var(--off-white);
  margin-left: 5px;
}

.sign-in-box {
  background-color: var(--dark-green);
  width: 30rem;
  height: auto;
  padding: 1rem;
  padding-bottom: 1.3rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
  border: 4px solid var(--darker-green);
  border-radius: 0.5rem;
}

.red-signin {
  background-color: var(--red);
  color: var(--off-white);
  box-shadow: none;
  border: 2px solid var(--dark-red);
  border-radius: 0.5rem;
  width: 5rem;
  height: 2rem;
  margin-left: 24.5rem;
  margin-top: 1.3rem;
  font-size: 0.9rem;
}

/* footer */
html,
body {
  height: 100%;
  margin: 0;
}

.footer-container {
  bottom: 0;
  background-color: var(--red);
  width: 100%;
  padding-bottom: 1rem;
  margin-top: 5rem;
}
footer {
  background-color: transparent;
  padding: 0;
}

.footer-line {
  height: 3px;
  width: 9rem;
  background-color: var(--off-white);
  margin: auto;
  border-radius: 0.5rem;
  margin-top: 0;
  margin-bottom: 0;
}

@media only screen and (max-width: 500px){
  .sign-in-box{
    width: 22rem;
  }
  .white-account-text{
    font-size: .78rem;
  }
  .sign-yellow{
    font-size: .9rem;
  }
  #email,
  #password,
  #name1,
  #username,
  #re-enter-password  {
    width: 20rem;
    height: 1.2rem;
    margin-left: 0;
    margin-top: .1rem;
    margin-bottom: 1rem;
  }
  
  .red-signin{
    width: 6rem;
    height: 2.4rem;
    margin-left: 15rem;
    font-size: 1rem;
  }
  .sign-in-flex{
    margin-top: .1rem;
    margin-left: .5rem;
  }
  .sign-in-flex1{
    margin-top: .7rem;
    margin-left: .5rem;
  }
  
  }
  @media only screen and (max-width: 410px){
  .sign-in-box{
    width: 20rem;
  }
  #email,
  #password,
  #name1,
  #username,
  #re-enter-password  {
    width: 18rem;
  }
  .red-signin{
    width: 7rem;
    height: 2.5rem;
    margin-left: 12rem;
    font-size: 1.1rem;
  }
  
  }
  @media only screen and (max-width: 380px){
    .sign-in-box{
      width: 17rem;
    }
    .signup-text{
      margin-left: 2.2rem;
    }
    #email,
    #password,
    #name1,
    #username,
    #re-enter-password{
      width: 15rem;
    }
    .red-signin{
      margin-left: 9rem;
    }
  }