body {
  background-color: var(--off-white);
}
body.dark-mode{
  background-color: var(--dark-green-dm);
}
main{
  min-height: 27rem;
}
#email {
  margin-left: 8.1rem;
  margin-top: 1rem;
}

#password {
  margin-left: 6.3rem;
  margin-top: 1.2rem;
  margin-bottom: 0;
}

#name1 {
  margin-top: 1.2rem;
  margin-left: 7.9rem;
}

#username {
  margin-top: 1.2rem;
  margin-left: 5.9rem;
}

#re-enter-password {
  margin-top: 1.2rem;
  margin-left: 1.75rem;
}

.re-enter-move-group {
  display: flex;
  align-items: center;
}

#email,
#password,
#name1,
#username,
#re-enter-password {
  width: 18rem;
  border-radius: 0.2rem;
  border: 2px solid var(--darker-green);
  background-color: var(--off-white);
}

body.dark-mode #email,
body.dark-mode #password,
body.dark-mode #name1,
body.dark-mode #username,
body.dark-mode #re-enter-password {
  background-color: var(--off-white-dm);
  border: none;
  border-radius: 0.5rem;
  font-family: "Kumbh Sans";
  font-size: 1rem;
  height: 1.6rem;
  margin-bottom: 0.5rem;
}

.sign-in-text {
  color: var(--off-white);
  margin-left: 5px;
  font-size: 1rem;
}

.sign-in-box {
  background-color: var(--dark-green);
  width: 30rem;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
  padding-right: 2rem;
  padding-left: 2rem;
  padding-bottom: 2rem;
  padding-top: 1rem;
  border-radius: 0.5rem;
}
body.dark-mode .sign-in-box{
  background-color: var(--green-dm);
  border-color: var(--dark-green-dm);
}

.red-signin {
  background-color: var(--red);
  color: var(--off-white);
  box-shadow: none;
  border: 2px solid var(--dark-red);
  border-radius: 0.5rem;
  width: 5.2rem;
  height: 2.5rem;
  margin-left: 24.2rem;
  margin-top: 1.3rem;
  font-size: 1rem;
  font-family: "Kumbh Sans";
}

body.dark-mode .red-signin{
  background-color: var(--off-white-dm);
  border-color: var(--dark-green-dm);
  color: var(--dark-green-dm);
}

/* footer */
html,
body {
  height: 100%;
  margin: 0;
}

.footer-container {
  bottom: 0;
  width: 100%;
  padding-bottom: 1rem;
  margin-top: 5rem;
}
footer {
  background-color: transparent;
  padding: 0;
}

.footer-line {
  height: 3px;
  width: 9rem;
  margin: auto;
  border-radius: 0.5rem;
  margin-top: 0;
  margin-bottom: 0;
}

@media only screen and (max-width: 500px) {
  .sign-in-box {
    width: 22rem;
  }
  .white-account-text {
    font-size: 0.78rem;
  }
  .sign-yellow {
    font-size: 0.9rem;
  }
  #email,
  #password,
  #name1,
  #username,
  #re-enter-password {
    width: 20rem;
    height: 1.4rem;
    margin-left: 0;
    margin-top: 0.1rem;
    margin-bottom: 1rem;
  }

  .red-signin {
    width: 6rem;
    height: 2.4rem;
    margin-left: 15rem;
    font-size: 1rem;
  }
  .sign-in-flex {
    margin-top: 0.1rem;
    margin-left: 0.5rem;
  }
  .sign-in-flex1 {
    margin-top: 0.7rem;
    margin-left: 0.5rem;
  }
}
@media only screen and (max-width: 410px) {
  .sign-in-box {
    width: 20rem;
  }
  #email,
  #password,
  #name1,
  #username,
  #re-enter-password {
    width: 18rem;
  }
  .red-signin {
    width: 7rem;
    height: 2.5rem;
    margin-left: 12rem;
    font-size: 1.1rem;
  }
}
@media only screen and (max-width: 380px) {
  .sign-in-box {
    width: 17rem;
  }
  .signup-text {
    margin-left: 2.2rem;
  }
  #email,
  #password,
  #name1,
  #username,
  #re-enter-password {
    width: 15rem;
  }
  .red-signin {
    margin-left: 9rem;
  }
}
