body {
  background-color: var(--off-white);
  font-family: "Kumbh Sans";
}

/* Watchlist Footer*/
html,
body {
  height: 100%;
  margin: 0;
}

.footer-container {
  background-color: var(--red);
  width: 100%;
  padding-bottom: 1rem;
}

.footer-watchlist {
  background-color: transparent;
  padding: 0;
}

.footer-line {
  height: 3px;
  width: 9rem;
  background-color: var(--off-white);
  margin: auto;
  border-radius: 0.5rem;
  margin-top: 0;
  margin-bottom: 0;
}

/*Watchlist movies*/
#watchlist-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-rows: auto;
  gap: 2rem;
}

.watchlist-movie-sides {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 4.5%;
}

.watchlist-text-container {
  margin-bottom: 40vh;
  color: var(--dark-green);
  grid-column: 2/5;
  margin-left: auto;
  margin-right: auto;
}
